Binaries
DerivedDataCache
Intermediate
Saved
Content/AnimalVarietyPack
Content/Goblin
Content/StarterContent
Content/MagicProjectileFX
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace